html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Poppins';
    color: #333;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-container {
    padding: 15px;
    /* max-width: 1200px; */
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.container-md {
    max-width: 1200px;
}

.title-header {
    margin: 0 0 10px 0;
    padding: 0;
    color: #333;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    transition: color 0.5s;
}

.title-header > h1 {
    margin: 0 15px 0 0;
    padding: 0;
}

/* .title-header > h1:hover {
    color: #3d4d4d;
} */

.main-content {
    /* background-color: rgba(255,255,255,0.10); */
    padding: 15px;
    width: auto;
    max-width: 1200px;
    height: auto;
    /* border-radius: 7px; */
}

.content-block {
    margin-left: 7px;
    padding: 0 15px;
    border-left: solid 1px rgba(0,0,0,0.2);
    max-width: 600px;
}

.periodic {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    color: #343434;
    font-weight: 600;
    border: solid 2px #222;
    padding: 3px;
    box-sizing: border-box;
}

.atom-num {
    /* align-self: flex-start; */
    font-size: 7pt;
}
